# Suchika Environment Configuration
# =================================

# 1. PostgreSQL Database Password (REQUIRED)
# Replace this with the superuser password for your local PostgreSQL installation.
QUARKUS_DATASOURCE_PASSWORD=

# 2. PostgreSQL Username
# Default is usually postgres, change if you created a specific user
QUARKUS_DATASOURCE_USERNAME=postgres

# 3. PostgreSQL Database Connection URL
# Ensure a database named "app_db" has been created.
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://localhost:5432/app_db
